@use "global" as *;

.overview-table-row {
  border-bottom: rem(1) solid $color-white;
}

.overview-table-row__header,
.overview-table-row__data {
  font-size: rem(13);
  text-align: left;
  vertical-align: top;

  @include mq('md') {
    font-size: rem(16);
  }
}

.overview-table-row__header {
  font-weight: $regular;
  padding: rem(14) rem(10) rem(22) rem(5);
  width: rem(114);

  @include mq('md') {
    padding: rem(33) rem(20) rem(28) 0;
    width: rem(152);
  }
}

.overview-table-row__data {
  padding: rem(14) 0 rem(22);
  width: calc(100% - #{rem(114)});

  @include mq('md') {
    padding: rem(33) 0 rem(28);
    width: calc(100% - #{rem(152)});
  }
}
