@use "global" as *;
@use "sass:math";

.home-works-info__title {
  font-size: rem(20);
  letter-spacing: math.div(2, 20) * 1em;
  text-align: center;

  @include mq('md') {
    font-size: rem(25);
    text-align: left;
  }
}

.home-works-info__description {
  font-size: rem(16);
  letter-spacing: math.div(2, 16) * 1em;
  margin-top: rem(22);

  @include mq('md') {
    letter-spacing: math.div(0.5, 16) * 1em;
    @include lineHeight(16, 35);
    margin-top: rem(30);
  }
}
