@use "global" as *;

.home-diagonal-line {
  position: relative;
}

.home-diagonal-line__body {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: $layer-diagonal-line;
}

.home-diagonal-line--downward .home-diagonal-line__body {
  clip-path: polygon(0.1% 0%, 100% 99.9%, 99.9% 100%, 0% 0.1%);
  height: rem(680);
  top: rem(120);
  
  @include mq('md') {
    height: rem(1280);
    top: rem(87);
  }
}

.home-diagonal-line--upward .home-diagonal-line__body {
  clip-path: polygon(0% 99.9%, 99.9% 0%, 100% 0.1%, 0.1% 100%);
  height: rem(1399);
  top: rem(-510);

  @include mq('md') {
    height: rem(1280);
    top: rem(-60);
  }
}

.home-diagonal-line__extend-color {
  background-color: $color-main-accent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -3;
}
