@use "global" as *;

.home-news {
  overflow: hidden;
}

.home-news__container {
  @include mq('md') {
    max-width: rem(1040 + strip-unit($padding-pc) * 2);
  }
}

.home-news__inner {
  @include mq('md') {
    display: flex;
  }
}

.home-news__items {
  @include mq('md') {
    width: calc(100% - #{rem(160)});
  }
}

.home-news__item {
  opacity: 0;
}

.home-news__item.is-appear {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: fadeLeft;
}

.home-news__button {
  margin-top: rem(28);
  text-align: center;

  @include mq('md') {
    display: flex;
    justify-content: flex-end;
    margin-left: rem(22);
    margin-top: 0;
    width: rem(160);
  }
}