@use "global" as *;

.home-blog__title-wrapper {
  position: relative;
}

.home-blog__sub-title {
  text-align: center;

  @include mq('md') {
    text-align: right;
  }
}

.home-blog__main-title {
  left: 50%;
  position: absolute;
  top: 66%;
  transform: translateX(-50%);
  
  @include mq('md') {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.home-blog__items {
  column-gap: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: rem(70);
  row-gap: rem(24);

  @include mq('md') {
    column-gap: rem(24);
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(-26);
  }
}

.home-blog__item {
  display: flex;
  opacity: 0;
}

.home-blog__item.is-appear {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: fadeUp;
}

.home-blog__item:nth-child(3n + 2).is-appear {
  @include mq('md') {
    animation-delay: 0.25s;
  }
}

.home-blog__item:nth-child(3n).is-appear {
  @include mq('md') {
    animation-delay: 0.5s;
  }
}

.home-blog__button {
  margin-top: rem(24);
  opacity: 0;
  text-align: center;

  @include mq('md') {
    margin-top: rem(48);
  }
}

.home-blog__button.is-appear {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: fadeUp;
}
