@use "global" as *;

.home-content {
  overflow: hidden;
}

.home-content__title-wrapper {
  position: relative;
}

.home-content__sub-title {
  text-align: center;

  @include mq('md') {
    text-align: left;
  }
}

.home-content__main-title {
  left: 50%;
  position: absolute;
  top: 66%;
  transform: translateX(-50%);
  
  @include mq('md') {
    top: 26%;
  }
}

.home-content__items {
  column-gap: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: rem(52) calc(50% - 50vw) 0;
  row-gap: 0;
  width: 100vw;

  @include mq('md') {
    grid-template-columns: repeat(4, 1fr);
    margin-top: rem(-36);
  }
}

.home-content__item {
  opacity: 0;
}

.home-content__item.is-appear {
  animation-duration: 0.75s;
  animation-name: flipRight;
  animation-fill-mode: forwards;
}

.home-content__item:nth-child(2n).is-appear {
  animation-delay: 0.25s;
}

.home-content__item:nth-child(4n + 2).is-appear {
  @include mq('md') {
    animation-delay: 0.25s;
  }
}

.home-content__item:nth-child(4n + 3).is-appear {
  @include mq('md') {
    animation-delay: 0.5s;
  }
}

.home-content__item:nth-child(4n).is-appear {
  @include mq('md') {
    animation-delay: 0.75s;
  }
}
