@use "global" as *;

.home-works {
  overflow: hidden;
}

.home-works__title-wrapper {
  position: relative;
}

.home-works__sub-title {
  text-align: center;

  @include mq('md') {
    text-align: right;
  }
}

.home-works__main-title {
  left: 50%;
  position: absolute;
  top: 66%;
  transform: translateX(-50%);
  
  @include mq('md') {
    top: 32%;
  }
}

.home-works__main-area {
  margin-top: rem(52);
  padding: 0 0 rem(21);
  position: relative;

  @include mq('md') {
    margin-top: rem(-34);
    padding: rem(80) 0;
  }
}

.home-works__main-area::after {
  background-color: $color-bg02;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  margin: 0 calc(50% - 50vw);
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: $layer-background;

  @include mq('md') {
    left: auto;
    margin: 0;
    right: calc(50% - 50vw);
    width: calc(50vw + #{rem(256)});
  }
}

.home-works__main-area.is-appear::after {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: extendRight;
}
