@use "global" as *;
@use "sass:color";

.contact-modal-overlay {
  background-color: color.adjust($color-black, $alpha: -0.36);
  display: none;
}

.contact-modal-overlay.is-open {
  display: block;
}
