@use "global" as *;
@use "sass:color";

.contact-modal-overlay {
  background-color: color.adjust($color-black, $alpha: -0.36);
  opacity: 0;
  transition: opacity $duration-base, visibility $duration-base;
  visibility: hidden;
}

.contact-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}
