@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@-webkit-keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@-webkit-keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

.l-contact-main-area {
  padding-bottom: 7.5rem;
}

.l-contact-modal-overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.l-contact-modal {
  -webkit-transform: translate(-50%, -50%);
  height: calc(100% - 5rem);
  left: 50%;
  max-width: 62.5rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2.5rem);
  z-index: 100;
}

.l-contact-thanks {
  padding-bottom: 7.5rem;
}

.l-contact__main-area {
  margin-top: 1.75rem;
}

.l-contact__thanks {
  margin-top: 8.125rem;
}

.contact-form__error-message {
  color: #FF5757;
  font-size: 1rem;
  letter-spacing: 0.125em;
  opacity: 0;
  text-align: center;
  visibility: hidden;
}

.wpcf7-form.invalid .contact-form__error-message {
  opacity: 1;
  visibility: visible;
}

.contact-form__items {
  margin-top: 2rem;
}

.contact-form__item:nth-child(n+2) {
  margin-top: 2rem;
}

.contact-form__acceptance {
  margin-top: 3rem;
}

.contact-form__button {
  margin-top: 3rem;
  text-align: center;
}

.contact-modal-overlay {
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  background-color: rgba(0, 0, 0, 0.64);
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
}

.contact-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.contact-modal-section__title {
  color: #333333;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 0.75rem;
  position: relative;
}

.contact-modal-section__title::before {
  -webkit-transform: translateY(-50%);
  background-color: #7C7C7C;
  border-radius: 0.125rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.25rem;
}

.contact-modal-section__description {
  color: #333333;
  font-size: 0.875rem;
}

.contact-modal-section__title + .contact-modal-section__description {
  margin-top: 0.75rem;
}

.contact-modal {
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  background-color: #FFFFFF;
  opacity: 0;
  padding: 2rem 1rem;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
}

.contact-modal.is-open {
  opacity: 1;
  visibility: visible;
}

.contact-modal__title {
  color: #333333;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.contact-modal__close-icon {
  cursor: pointer;
  height: 1.5rem;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  width: 1.5rem;
}

.contact-modal__close-icon::before,
.contact-modal__close-icon::after {
  background-color: #000000;
  content: "";
  display: block;
  height: 0.1875rem;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.contact-modal__close-icon::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.contact-modal__close-icon::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.contact-modal__body {
  height: calc(100% - 1.875rem - 1.5rem);
  margin-top: 1.5rem;
  overflow-y: auto;
}

.contact-modal__section:nth-child(n+2) {
  margin-top: 1.5rem;
}

.contact-thanks__title {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact-thanks__lead {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  margin-top: 4.9375rem;
  text-align: center;
}

.contact-thanks__button {
  margin-top: 4.875rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-contact-main-area {
    padding-bottom: 9.375rem;
  }

  .l-contact-thanks {
    padding-bottom: 9.375rem;
  }

  .l-contact__main-area {
    margin-top: 3.75rem;
  }

  .l-contact__thanks {
    margin-top: 12.25rem;
  }

  .contact-form__items {
    margin-top: 1.875rem;
  }

  .contact-form__item:nth-child(n+2) {
    margin-top: 2.8125rem;
  }

  .contact-form__acceptance {
    margin-top: 3.5rem;
  }

  .contact-form__button {
    margin-top: 3.5rem;
  }

  .contact-main-area__container {
    max-width: 58.375rem;
  }

  .contact-modal-section__title {
    font-size: 1.125rem;
  }

  .contact-modal-section__description {
    font-size: 1rem;
  }

  .contact-modal {
    padding: 3rem;
  }

  .contact-modal__title {
    font-size: 1.5rem;
  }

  .contact-modal__close-icon {
    height: 2rem;
    right: 1.25rem;
    top: 1.25rem;
    width: 2rem;
  }

  .contact-modal__body {
    height: calc(100% - 2.25rem - 2.25rem);
    margin-top: 2.25rem;
  }

  .contact-thanks__title {
    font-size: 1.875rem;
    letter-spacing: 0.0666666667em;
  }

  .contact-thanks__lead {
    font-size: 1.875rem;
    letter-spacing: 0.0666666667em;
    margin-top: 4.375rem;
  }

  .contact-thanks__button {
    margin-top: 4.625rem;
  }
}