@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@-webkit-keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@-webkit-keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

.l-contact-main-area {
  padding-bottom: 7.5rem;
}

.l-contact-thanks {
  padding-bottom: 7.5rem;
}

.l-contact__main-area {
  margin-top: 1.75rem;
}

.l-contact__thanks {
  margin-top: 8.125rem;
}

.contact-form__error-message {
  color: #FF5757;
  font-size: 1rem;
  letter-spacing: 0.125em;
  opacity: 0;
  text-align: center;
  visibility: hidden;
}

.wpcf7-form.invalid .contact-form__error-message {
  opacity: 1;
  visibility: visible;
}

.contact-form__items {
  margin-top: 2rem;
}

.contact-form__item:nth-child(n+2) {
  margin-top: 2rem;
}

.contact-form__acceptance {
  margin-top: 3rem;
}

.contact-form__button {
  margin-top: 3rem;
  text-align: center;
}

.contact-thanks__title {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact-thanks__lead {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  margin-top: 4.9375rem;
  text-align: center;
}

.contact-thanks__button {
  margin-top: 4.875rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l-contact-main-area {
    padding-bottom: 9.375rem;
  }

  .l-contact-thanks {
    padding-bottom: 9.375rem;
  }

  .l-contact__main-area {
    margin-top: 3.75rem;
  }

  .l-contact__thanks {
    margin-top: 12.25rem;
  }

  .contact-form__items {
    margin-top: 1.875rem;
  }

  .contact-form__item:nth-child(n+2) {
    margin-top: 2.8125rem;
  }

  .contact-form__acceptance {
    margin-top: 3.5rem;
  }

  .contact-form__button {
    margin-top: 3.5rem;
  }

  .contact-main-area__container {
    max-width: 58.375rem;
  }

  .contact-thanks__title {
    font-size: 1.875rem;
    letter-spacing: 0.0666666667em;
  }

  .contact-thanks__lead {
    font-size: 1.875rem;
    letter-spacing: 0.0666666667em;
    margin-top: 4.375rem;
  }

  .contact-thanks__button {
    margin-top: 4.625rem;
  }
}