@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@-webkit-keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@-webkit-keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

.l-overview__info {
  margin-top: 5.6875rem;
}

.l-overview__footer {
  margin-top: 7.5rem;
}

.overview-footer {
  overflow: hidden;
}

.overview-footer__map {
  margin: 0 calc(50% - 50vw);
  position: relative;
  width: 100vw;
}

.overview-footer__map::before {
  content: "";
  display: block;
  padding-top: 80%;
}

.overview-footer__map > iframe {
  -o-object-fit: cover;
  -o-object-position: center center;
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  width: 100%;
}

.overview-table-row {
  border-bottom: 0.0625rem solid #FFFFFF;
}

.overview-table-row__header,
.overview-table-row__data {
  font-size: 0.8125rem;
  text-align: left;
  vertical-align: top;
}

.overview-table-row__header {
  font-weight: 400;
  padding: 0.875rem 0.625rem 1.1875rem 0.3125rem;
  width: 7.125rem;
}

.overview-table-row__data {
  padding: 0.875rem 0 1.1875rem;
  width: calc(100% - 7.125rem);
}

.overview-table-row__data > a {
  -webkit-transition: opacity 0.5s;
  color: #FFFFFF;
  transition: opacity 0.5s;
}

.overview-table {
  table-layout: fixed;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .l-overview__info {
    margin-top: 6.9375rem;
  }

  .l-overview__footer {
    margin-top: 5rem;
  }

  .overview-footer {
    overflow: visible;
  }

  .overview-footer__map {
    margin: 0;
    width: 100%;
  }

  .overview-footer__map::before {
    padding-top: 33.3636363636%;
  }

  .overview-table-row__header,
  .overview-table-row__data {
    font-size: 1rem;
  }

  .overview-table-row__header {
    padding: 2.125rem 1.25rem 1.75rem 0;
    width: 9.5rem;
  }

  .overview-table-row__data {
    padding: 2.125rem 0 1.75rem;
    width: calc(100% - 9.5rem);
  }
}

@media (hover: hover) and (pointer: fine) {
  .overview-table-row__data > a:focus,
  .overview-table-row__data > a:hover {
    opacity: 0.7;
  }
}