@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4.6875rem);
    opacity: 0;
    transform: translateY(4.6875rem);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    -webkit-transform: translateX(-4.6875rem);
    opacity: 0;
    transform: translateX(-4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    -webkit-transform: translateX(4.6875rem);
    opacity: 0;
    transform: translateX(4.6875rem);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@keyframes flipRight {
  0% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
    opacity: 0;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(-60deg);
  }

  100% {
    -webkit-transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
    transform: perspective(37.5rem) translate3d(0, 0, 0) rotateY(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes extendRight {
  0% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: right;
  }
}

@-webkit-keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes extendLeft {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@-webkit-keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes extendLeftShrinkRight {
  0% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    -webkit-transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
  }

  50.001% {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  100% {
    -webkit-transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
  }
}

.l-single__article {
  margin-top: 3.25rem;
}

.single-article {
  overflow: hidden;
}

.single-article__title {
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  line-height: 1.75;
}

.single-article__meta {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.0625rem;
}

.single-article__published {
  font-size: 1rem;
  letter-spacing: 0.025em;
}

.single-article__category-wrapper {
  margin-left: 1.75rem;
}

.single-article__category {
  font-size: 1rem;
  letter-spacing: 0.125em;
  line-height: 1;
  min-width: 5.5rem;
}

.single-article__category > a {
  -webkit-transition: background-color 0.5s, color 0.5s;
  background-color: #111111;
  border: 0.0625rem solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  padding: 0.6875rem 1rem;
  transition: background-color 0.5s, color 0.5s;
}

.single-article__eyecatch {
  margin: 1rem calc(50% - 50vw) 0;
  position: relative;
  width: 100vw;
}

.single-article__eyecatch::before {
  content: "";
  display: block;
  padding-top: 66.9333333333%;
}

.single-article__eyecatch > img {
  -o-object-fit: cover;
  -o-object-position: center center;
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
}

.single-article__body p {
  font-size: 1rem;
  letter-spacing: 0.025em;
  line-height: 2.1875;
  margin-top: 1.5rem;
}

.single-article__body h2 {
  border-left: 0.1875rem solid #C4C4C4;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1.45;
  margin-top: 1.5rem;
  padding-left: 0.375rem;
}

.single-article__body h3 {
  display: inline-block;
  font-size: 1.125rem;
  letter-spacing: 0.1111111111em;
  line-height: 1.5;
  margin-top: 1.5rem;
  padding-bottom: 0.1875rem;
  position: relative;
}

.single-article__body h3::before {
  background-color: #FFFFFF;
  bottom: 0;
  content: "";
  display: block;
  height: 0.1875rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.single-article__body h3::after {
  background-color: #FFEA2E;
  bottom: 0;
  content: "";
  display: block;
  height: 0.1875rem;
  left: 0;
  position: absolute;
  width: 34%;
}

.single-article__body figure {
  margin: 1.5rem calc(50% - 50vw) 0;
  position: relative;
  width: 100vw;
}

.single-article__body figure::before {
  content: "";
  display: block;
  padding-top: 66.9333333333%;
}

.single-article__body figure > img {
  -o-object-fit: cover;
  -o-object-position: center center;
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
}

.single-article__body ul,
.single-article__body ol {
  margin-top: 1.5rem;
}

.single-article__body ul > li,
.single-article__body ol > li {
  font-size: 1rem;
  letter-spacing: 0.025em;
  line-height: 2.1875;
  padding-left: 1rem;
  position: relative;
}

.single-article__body ul > li {
  counter-increment: unordered;
}

.single-article__body ol > li {
  counter-increment: number;
}

.single-article__body ul > li::before,
.single-article__body ol > li::before {
  left: 0;
  position: absolute;
  top: 0;
}

.single-article__body ul > li::before {
  content: counter(unordered, disc);
}

.single-article__body ol > li::before {
  content: counter(number);
}

.single-article__nav {
  margin-top: 4.875rem;
}

@media screen and (min-width: 768px) {
  .l-single__article {
    margin-top: 5.625rem;
  }

  .single-article__container {
    max-width: 55rem;
  }

  .single-article__title {
    font-size: 1.4375rem;
    letter-spacing: 0.0173913043em;
    line-height: 1.5217391304;
  }

  .single-article__meta {
    margin-top: 1.9375rem;
  }

  .single-article__eyecatch {
    margin: 2rem 0 0;
    width: 100%;
  }

  .single-article__eyecatch::before {
    padding-top: 53.375%;
  }

  .single-article__body p {
    margin-top: 2rem;
  }

  .single-article__body h2 {
    margin-top: 2rem;
  }

  .single-article__body h3 {
    margin-top: 2rem;
  }

  .single-article__body figure {
    margin: 2rem 0 0;
    width: 100%;
  }

  .single-article__body figure::before {
    padding-top: 53.375%;
  }

  .single-article__body ul,
  .single-article__body ol {
    margin-top: 2rem;
  }

  .single-article__nav {
    margin-top: 6.4375rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .single-article__category > a:focus,
  .single-article__category > a:hover {
    background-color: #FFFFFF;
    color: #333333;
  }
}