@use "global" as *;

// ----------
// モバイルファースト用
// ----------
.l-container {
  width: 100%;
  max-width: rem(strip-unit($l-container-sp) + strip-unit($padding-sp) * 2);
  margin: 0 auto;
  padding: 0 rem(strip-unit($padding-sp));

  @include mq('md') {
    max-width: rem(strip-unit($l-container-pc) + strip-unit($padding-pc) * 2);
    padding: 0 rem(strip-unit($padding-pc));
  }
}

// ----------
// PCファースト用
// ----------
// .l-container {
//   width: 100%;
//   max-width: rem(strip-unit($l-container-pc) + strip-unit($padding-pc) * 2);
//   margin: 0 auto;
//   padding: 0 rem(strip-unit($padding-pc));

//   @include mq('md') {
//     max-width: rem(strip-unit($l-container-sp) + strip-unit($padding-sp) * 2);
//     padding: 0 rem(strip-unit($padding-sp));
//   }
// }