@use "global" as *;
@use "sass:math";

.single-article {
  overflow: hidden;
}

.single-article__container {
  @include mq('md') {
    max-width: rem(800 + strip-unit($padding-pc) * 2);
  }
}

.single-article__title {
  font-size: rem(20);
  letter-spacing: math.div(0.4, 20) * 1em;
  @include lineHeight(20, 35);

  @include mq('md') {
    font-size: rem(23);
    letter-spacing: math.div(0.4, 23) * 1em;
    @include lineHeight(23, 35);
  }
}

.single-article__meta {
  align-items: center;
  display: flex;
  margin-top: rem(17);

  @include mq('md') {
    margin-top: rem(31);
  }
}

.single-article__published {
  font-size: rem(16);
  letter-spacing: math.div(0.4, 16) * 1em;
}

.single-article__category-wrapper {
  margin-left: rem(28);
}

.single-article__category {
  font-size: rem(16);
  letter-spacing: math.div(2, 16) * 1em;
  line-height: 1;
  min-width: rem(88);
}

.single-article__category>a {
  background-color: $color-main;
  border: rem(1) solid $color-white;
  color: $color-white;
  display: block;
  padding: rem(11) rem(16);
  transition: background-color $duration-base, color $duration-base;
}

.single-article__category>a:focus,
.single-article__category>a:hover {
  @include mq('hover-pc') {
    background-color: $color-white;
    color: $color-text02;
  }
}

.single-article__eyecatch {
  margin: rem(16) calc(50% - 50vw) 0;
  position: relative;
  width: 100vw;

  @include mq('md') {
    margin: rem(32) 0 0;
    width: 100%;
  }
}

.single-article__eyecatch::before {
  content: '';
  display: block;
  @include paddingTopHack(375, 251);

  @include mq('md') {
    @include paddingTopHack(800, 427);
  }
}

.single-article__eyecatch>img {
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
}

.single-article__body p {
  font-size: rem(16);
  letter-spacing: math.div(0.4, 16) * 1em;
  @include lineHeight(16, 35);
  margin-top: rem(24);

  @include mq('md') {
    margin-top: rem(32);
  }
}

.single-article__body h2 {
  border-left: rem(3) solid $color-gray-400;
  font-size: rem(20);
  letter-spacing: math.div(2, 20) * 1em;
  @include lineHeight(20, 29);
  margin-top: rem(24);
  padding-left: rem(6);

  @include mq('md') {
    margin-top: rem(32);
  }
}

.single-article__body h3 {
  display: inline-block;
  font-size: rem(18);
  letter-spacing: math.div(2, 18) * 1em;
  @include lineHeight(18, 27);
  margin-top: rem(24);
  padding-bottom: rem(3);
  position: relative;

  @include mq('md') {
    margin-top: rem(32);
  }
}

.single-article__body h3::before {
  background-color: $color-white;
  bottom: 0;
  content: '';
  display: block;
  height: rem(3);
  left: 0;
  position: absolute;
  width: 100%;
}

.single-article__body h3::after {
  background-color: $color-main-accent02;
  bottom: 0;
  content: '';
  display: block;
  height: rem(3);
  left: 0;
  position: absolute;
  width: 34%;
}

.single-article__body figure {
  margin: rem(24) calc(50% - 50vw) 0;
  position: relative;
  width: 100vw;

  @include mq('md') {
    margin: rem(32) 0 0;
    width: 100%;
  }
}

.single-article__body figure::before {
  content: '';
  display: block;
  @include paddingTopHack(375, 251);

  @include mq('md') {
    @include paddingTopHack(800, 427);
  }
}

.single-article__body figure>img {
  height: 100%;
  left: 0;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
}

.single-article__body ul,
.single-article__body ol {
  margin-top: rem(24);

  @include mq('md') {
    margin-top: rem(32);
  }
}

.single-article__body ul>li,
.single-article__body ol>li {
  font-size: rem(16);
  letter-spacing: math.div(0.4, 16) * 1em;
  @include lineHeight(16, 35);
  padding-left: rem(16);
  position: relative;
}

.single-article__body ul>li {
  counter-increment: unordered;
}

.single-article__body ol>li {
  counter-increment: number;
}

.single-article__body ul>li::before,
.single-article__body ol>li::before {
  left: 0;
  position: absolute;
  top: 0;
}

.single-article__body ul>li::before {
  content: counter(unordered, disc);
}

.single-article__body ol>li::before {
  content: counter(number);
}

.single-article__nav {
  margin-top: rem(78);

  @include mq('md') {
    margin-top: rem(103);
  }
}
