@use "global" as *;
@use "sass:math";

.c-main-section-title {
  font-size: rem(20);
  letter-spacing: math.div(2, 20) * 1em;

  @include mq('md') {
    font-size: rem(30);
  }
}

.c-main-section-title span {
  display: inline-block;
}

.c-main-section-title--fade-up span {
  opacity: 0;
}

.c-main-section-title--fade-up.is-appear span {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: fadeUp;
}
