@use "global" as *;
@use "sass:color";

.c-sub-section-title {
  color: color.adjust($color-main-accent, $alpha: -0.8);
  font-family: $font-family-sub;
  font-size: rem(50);
  text-transform: capitalize;

  @include mq('md') {
    font-size: rem(110);
  }
}

.c-sub-section-title--fade-right,
.c-sub-section-title--fade-left {
  opacity: 0;
}

.c-sub-section-title--fade-right.is-appear {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: fadeRight;
}

.c-sub-section-title--fade-left.is-appear {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: fadeLeft;
}
