@use "global" as *;

.p-hamburger {
  display: block;
  position: relative;

  @include mq('md') {
    display: none;
  }
}

.p-hamburger__bars {
  bottom: 0;
  height: rem(12);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: rem(24);
}

.p-hamburger__bar {
  background-color: $color-white;
  height: rem(2);
  left: 0;
  position: absolute;
  transition: transform $duration, opacity $duration;
  width: 100%;
}

.p-hamburger__bar:nth-child(1) {
  top: 0;
}

.p-hamburger.is-open .p-hamburger__bar:nth-child(1) {
  top: rem(5);
  transform: rotate(-45deg);
}

.p-hamburger__bar:nth-child(2) {
  top: rem(5);
}

.p-hamburger.is-open .p-hamburger__bar:nth-child(2) {
  opacity: 0;
}

.p-hamburger__bar:nth-child(3) {
  top: rem(10);
}

.p-hamburger.is-open .p-hamburger__bar:nth-child(3) {
  top: rem(5);
  transform: rotate(45deg);
}