@use "global" as *;

.l-contact__main-area {
  margin-top: rem(28);

  @include mq('md') {
    margin-top: rem(60);
  }
}

.l-contact__thanks {
  margin-top: rem(130);

  @include mq('md') {
    margin-top: rem(196);
  }
}