@use "global" as *;

.blog-archive__items {
  column-gap: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(24);

  @include mq('md') {
    column-gap: rem(24);
    grid-template-columns: repeat(3, 1fr);
    row-gap: rem(48);
  }
}

.blog-archive__item {
  display: flex;
  opacity: 0;
}

.blog-archive__item.is-appear {
  animation-duration: 0.75s;
  animation-name: fadeUp;
  animation-fill-mode: forwards;
}

.blog-archive__item:nth-child(3n + 2).is-appear {
  @include mq('md') {
    animation-delay: 0.25s;
  }
}

.blog-archive__item:nth-child(3n).is-appear {
  @include mq('md') {
    animation-delay: 0.5s;
  }
}
