@use "global" as *;

.l-news {
  padding-bottom: rem(120);

  @include mq('md') {
    padding-bottom: rem(150);
  }
}

.l-news__archive {
  margin-top: rem(85);

  @include mq('md') {
    margin-top: rem(70);
  }
}
