@use "global" as *;

.l-home__news {
  margin-top: rem(24);

  @include mq('md') {
    margin-top: rem(32);
  }
}

.l-home__content {
  margin-top: rem(100);

  @include mq('md') {
    margin-top: rem(147);
  }
}

.l-home__works {
  margin-top: rem(71);

  @include mq('md') {
    margin-top: rem(147);
  }
}

.l-home__overview {
  margin-top: rem(71);

  @include mq('md') {
    margin-top: rem(148);
  }
}

.l-home__blog {
  margin-top: rem(48);

  @include mq('md') {
    margin-top: rem(147);
  }
}