// ----------
// 左右の余白
// ----------
$padding-pc: 40px;
$padding-sp: 20px;

// ----------
// レイアウト
// ----------
$l-xs: 375px;
$l-sm: 576px;
$l-md: 768px;
$l-lg: 992px;
$l-xl: 1200px;
$l-xxl: 1400px;
$l-container-sp: 580px;
$l-container-pc: 1100px;

// ----------
// ブレイクポイント
// ----------
$breakpoints: (
  // モバイルファースト用
  'xs': 'screen and (min-width: #{$l-xs})',
  'sm': 'screen and (min-width: #{$l-sm})',
  'md': 'screen and (min-width: #{$l-md})',
  'lg': 'screen and (min-width: #{$l-lg})',
  'xl': 'screen and (min-width: #{$l-xl})',
  'xxl': 'screen and (min-width: #{$l-xxl})',
  'container': 'screen and (min-width: #{$l-container-pc})',

  // PCファースト用
  // 'xxl': 'screen and (max-width: #{$xxl})',
  // 'xl': 'screen and (max-width: #{$xl})',
  // 'lg': 'screen and (max-width: #{$lg})',
  // 'md': 'screen and (max-width: #{$md - 1})',
  // 'sm': 'screen and (max-width: #{$sm})',
  // 'xs': 'screen and (max-width: #{$xs})',
  // 'container': 'screen and (max-width: #{$container-pc})',

  // ホバー分岐用
  'hover-sp': '(hover: none) and (pointer: coarse)',
  'hover-tab': '(hover: none) and (pointer: fine)',
  'hover-sp-tab': '(hover: none) and (any-pointer: coarse)',
  'hover-pc': '(hover: hover) and (pointer: fine)',
  ) !default;

// ----------
// font-family
// ----------
// https://saruwakakun.com/font-family
// https://ics.media/entry/200317/
// https://willcloud.jp/knowhow/font-family/
$sans-serif: 'Noto Sans JP',
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  'Lato',
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  "Yu Gothic",
  "Meiryo",
  sans-serif;

$serif: 'Noto Serif',
  "Times New Roman",
  'Noto Serif JP',
  "YuMincho",
  "Hiragino Mincho ProN",
  "Yu Mincho",
  "MS PMincho",
  serif;

$yu-gothic: "游ゴシック体",
  YuGothic,
  "游ゴシック Medium",
  "Yu Gothic Medium",
  "游ゴシック",
  "Yu Gothic",
  sans-serif;

$yu-mincho: 'YuMincho',
  'Yu Mincho',
  serif;

// ----------
// font-weight
// ----------
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// ----------
// opacity
// ----------
$opacity: 0.7;

// --------------------
// フォントの設定
// --------------------
$font-family-base: $sans-serif;
$font-family-sub: 'Noto Serif JP', serif;
$font-size-base: 16px;
$font-weight-base: $regular;
$line-height-base: 1.5;

// ----------
// color
// ----------
//main
$color-main: #111111 !default;
$color-main-accent: #F9F871 !default;
$color-main-accent02: #FFEA2E !default;
// $color-main-base: #E6F1FE !default;
// $color-main-base02: #EBEBF2 !default;

//グレースケール
$color-black: #000000 !default;
$color-gray-800: #616161 !default;
$color-gray-600: #7C7C7C !default;
$color-gray-400: #C4C4C4 !default;
$color-gray-200: #E4E4E4 !default;
$color-white: #FFFFFF !default;

//文字
$color-text: #FFFFFF !default;
$color-text02: #333333 !default;
$color-text-danger: #FF5757 !default;

//background
$color-bg: #111111 !default;
$color-bg02: #333333 !default;
$color-bg03: #3D3D3D !default;
$color-bg-danger: #FFDCDC !default;

$color-blog-badge: #FFBA6A !default;

//SNS
$color-sns-facebook: #375B95 !default;
$color-sns-twitter: #4BAEEA !default;
$color-sns-line: #04BB00 !default;

// ----------
// z-index
// ----------
$layer-modal: 100;
$layer-modal-overlay: 99;
$layer-hamburger: 41;
$layer-drawer: 40;
$layer-drawer-overlay: 39;
$layer-header: 30;
$layer-floating: 20;
$layer-footer: 10;
$layer-up: 2;
$layer-default: 1;
$layer-background: -1;
$layer-diagonal-line: -2;

// ----------
// ヘッダーの高さ
// ----------
$header-height: 50px;

// ----------
// transition
// ----------
$duration-base: 0.3s;