@use "global" as *;
@use "sass:math";

.p-footer-contact {
  background-color: $color-bg03;
}

.p-footer-contact__title-wrapper {
  position: relative;
}

.p-footer-contact__sub-title {
  text-align: center;

  @include mq('md') {
    text-align: left;
  }
}

.p-footer-contact__main-title {
  left: 50%;
  position: absolute;
  top: 64%;
  transform: translateX(-50%);
  
  @include mq('md') {
    top: 54%;
  }
}

.p-footer-contact__description {
  font-size: rem(16);
  letter-spacing: math.div(2, 16) * 1em;
  margin-top: rem(20);

  @include mq('md') {
    margin-top: rem(-14);
    text-align: center;
  }
}

.p-footer-contact__button {
  margin-top: rem(47);
  text-align: center;

  @include mq('md') {
    margin-top: rem(62);
  }
}
