@use "global" as *;

.p-post {
  color: $color-white;
  display: block;

  @include mq('md') {
    display: flex;
  }
}

.p-post__meta {
  display: flex;

  @include mq('md') {
    width: rem(260);
  }
}

.p-post__published {
  font-size: rem(16);
  padding-top: rem(3);
}

.p-post__category-wrapper {
  margin-left: rem(32);

  @include mq('md') {
    margin-left: rem(48);
  }
}

.p-post__category {
  border: rem(1) solid $color-white;
  font-size: rem(14);
  line-height: 1;
  min-width: rem(100);
  padding: rem(8) rem(14) rem(7);
  text-align: center;
}

.p-post__title {
  font-size: rem(16);
  margin-top: rem(14);

  @include mq('md') {
    margin-left: rem(28);
    margin-top: 0;
    width: calc(100% - #{rem(260)});
  }
}

.p-post--hover-underline:focus .p-post__title,
.p-post--hover-underline:hover .p-post__title {
  @include mq('hover-pc') {
    text-decoration: underline;
  }
}

.p-post--hover-colored {
  transition: color $duration-base;
}

.p-post--hover-colored:focus .p-post__title,
.p-post--hover-colored:hover .p-post__title {
  @include mq('hover-pc') {
    color: $color-main-accent;
  }
}
