@use "global" as *;
@use "sass:math";

.p-term-nav__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(-12);

  @include mq('md') {
    margin-bottom: rem(-20);
  }
}

.p-term-nav__item {
  font-size: rem(16);
  letter-spacing: math.div(2, 16) * 1em;
  line-height: 1;
  margin-bottom: rem(12);

  @include mq('md') {
    margin-bottom: rem(20);
  }
}

.p-term-nav__item:not(:last-child) {
  margin-right: rem(16);

  @include mq('md') {
    margin-right: rem(20);
  }
}

.p-term-nav__item.is-active {
  background-color: $color-white;
  color: $color-text02;
  padding: rem(7) rem(8);

  @include mq('md') {
    padding: rem(7) rem(10);
  }
}

.p-term-nav__item>a {
  background-color: $color-main;
  color: $color-text;
  display: block;
  padding: rem(7) rem(8);
  transition: background-color $duration-base, color $duration-base;

  @include mq('md') {
    padding: rem(7) rem(10);
  }
}

.p-term-nav__item>a:focus,
.p-term-nav__item>a:hover {
  @include mq('hover-pc') {
    background-color: $color-white;
    color: $color-text02;
  }
}